@import url('https://fonts.googleapis.com/css?family=Oxygen:300,700&subset=latin-ext');

$bodyBgColor: #feebe0;
$accentColor: #666666;
// $accentColor: indianred;
// $textColor: #e7caa9;
$textColor: #7a5ab0;
$textColorAccent: #50d97f;
// $textColorAccent: #212f2c;
$fontFamily: 'Oxygen', sans-serif;
$letterSp1: 0.025em;
